{
  "extends": "airbnb/base",
  "rules": {
    "comma-dangle": [2, "never"],
    "func-names": 0,
    "generator-star-spacing": 0,
    "guard-for-in": 0,
    "no-underscore-dangle": 0,
    "strict": 0
  }
}
